In [5]:
# 1 USING CAPITALIZE FUNCTION
name="ritesh"
name=name.capitalize()
print(name)

Ritesh

In [6]:
#2 USING LOWER FUNCTION
name="RITESH"
name=name.lower()
print(name)

ritesh

In [8]:
#3 USING UPPER FUNCTION
name="ritesh"
name=name.upper()
print(name)

RITESH

In [11]:
#4 USING COUNT FUNCTION
name="RITESH"
name=name.count("R")
print(name)

1

In [1]:
#5 USING STARTSWITH FUNCTION
name="RITESH"
name.startswith("R")

True

In [2]:
#6 USING ENDSWITH FUNCTION
name="RITESH"
name.endswith("H")

True

In [9]:
#7 USING FIND FUNCTION
name="RITESH"
print(name.find("I"))
print(name.find("H"))

1
5

In [13]:
#8 USING index FUNCTION
name="PYTHON IS A PROGRAMMING LANGUAGE"
index = name.index("PROGRAMMING")
print(index)

12

In [18]:
#9 Using string.isalnum
string1="heloo0123"
string2="12345678"
string3="Hellooo"
string4="hello world"
print(string1.isalnum())
print(string2.isalnum())
print(string3.isalnum())
print(string4.isalnum())

True
True
True
False

In [20]:
#10 Using string.isalpha()
name = "Ritesh"
age = "23"
print(name.isalpha())
print(age.isalpha())

True
False

In [23]:
#11 Using string.isdecimal()
string1 = "12345"
string2 = "12.345"
string3 = "hello"
print(string1.isdecimal())
print(string2.isdecimal())
print(string3.isdecimal())

True
False
False

In [26]:
#12 Using string.isdigit()
string1 = "12345"
string2= "123.55"
stirng="hello"
print(string1.isdigit())
print(string2.isdigit())
print(string3.isdigit())

True
False
False

In [28]:
#13 Using string.isnumeric()
stirng1 = "12345"
stirng2 = "12.345"
print(stirng1.isnumeric())
print(string2.isnumeric())

True
False

In [30]:
#14 Using string.swapcase()
#upper case become lower case 

name = "Ritesh Sharma"
result = name.swapcase()
print(result)

rITESH sHARMA

In [35]:
#15 Using string.zfill() 
#add (0) at the left
data = "91"
result1 = data.zfill(3)
result2 = data.zfill(5)
print(result1)
print(result2)

091
00091

In [36]:
#16 Using string.strip() 
#remove unwanted sapce from left and right
name = "  Ritesh Sharma  "
print(name.strip())

Ritesh Sharma

In [37]:
#17 Using string.split() 
#split the sentance in  place of space
FULL_NAME = "Ritesh Sharma"
print(FULL_NAME.split())

['Ritesh', 'Sharma']

In [41]:
#18 Using join() method

list1 = ["Rohan","is","a","good","boy"]
"".join(list1)

'Rohanisagoodboy'

In [43]:
#19 Using maketrans() method
#translate a word to another meaningfull word
table =str.maketrans("is","at")
"this is a cat".translate(table)

'that at a cat'

In [45]:
#20 Replace characters 'a', 'b', and 'c' with '1', '2', and '3'
translation_table = str.maketrans('str', '123')
text = "string"
result = text.translate(translation_table)
print(result)

123ing

In [63]:
#21 Delete characters 'a', 'e', and 'i'
translation_table = str.maketrans('', '', 'aei')
text = "i am going to ducta in noida"
result = text.translate(translation_table)
print(result)

 m gong to duct n nod

In [50]:
#22 map specific characters to replacements
translation_table = str.maketrans({'a': '@', 'b': '8', 'c': '(','d':'&'})
text = "abcde"
result = text.translate(translation_table)
print(result)

@8(&e

In [62]:
#23 removing puntuation 
your_string = 'string with "punctuation" inside of it! Does this work?.'
import string

print(your_string.translate(str.maketrans('', '',string.punctuation)))

string with punctuation inside of it Does this work

In [52]:
#24 enumerate() function
string = "hlo welcome to jupyter notebook"

for index,char in enumerate(string):
    if  char == "e": #specify index value of 'e'
        print(index)

5
10
20
26

In [60]:
#25 case fold()
firstString = "hello"
firstString.casefold()

'hello'

In [1]:
#26 str.swapcase()
s = "Hello World!"
print(s.swapcase())

hELLO wORLD!

In [2]:
#27 str.title()
s = "hello world"
print(s.title())

Hello World

In [3]:
#28 str.translate(table)
s = "hello"
table = str.maketrans('hel', 'xyz')
print(s.translate(table))

xyzzo

In [4]:
#29 str.upper()
s = "hello world"
print(s.upper())

HELLO WORLD

In [5]:
#30 str.zfill(width)
s = "42"
print(s.zfill(5))

00042